name: TestProject
on: [push]
jobs:
    test-job:
      runs-on: ubuntu-latest
      steps:
        - name: Get Code
          uses: actions/checkout@v3
        - name: Install NodeJS
          uses: actions/setup-node@v3
          with:
            node-version: '18'
        - name: Install Dependencies
          run: npm ci
        - name: Run Tests
          run: npm test
        - name: Second Workflow Step
          run: echo "This is second workflow"
    deploy-job:
      needs: test-job
      runs-on: ubuntu-latest
      steps:
        - name: Get Code
          uses: actions/checkout@v3
        - name: Deploy Application
          run: echo "Deploying Application..."
        - name: Install NodeJs
          uses: actions/setup-node@v3
          with:
            node-version: '18'
        - name: Install Dependencies
          run: npm ci
        - name: Build Project
          run: npm run build
        - name: Deploy Step
          run: echo "Application Deployed Successfully!"
        
      
      
            